body {
  margin: 0;
  padding: 0;
}

.hero-section {
  background-image: url('../images/snake-5.jpg');
  background-size: cover;
  background-position: center top;
  height: 90vh;
}


@media (max-width: 768px) {
  .hero-section {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .hero-section {
   height: 35vh;
  }
}