<!DOCTYPE html>
<html>

<head>
  <title>Snake Mania</title>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="static/js/game.js"></script>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">Snake Mania</div>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div class="game_container">
    <div class="top_layer">
      <div id="score">Score: 0</div>
      <div class="pause_n_play">
        <button id="pauseButton">Pause</button>
      </div>
    </div>
    <canvas id="gameCanvas" width="700" height="700"></canvas>
  </div>


  <div class="direction-buttons">
    <div class="direction-row">
      <div class="direction-button" id="upButton">↑</div>
    </div>
    <div class="direction-row">
      <div class="direction-button" id="leftButton">←</div>
      <div class="direction-button" id="rightButton">→</div>
    </div>
    <div class="direction-row">
      <div class="direction-button" id="downButton">↓</div>
    </div>
  </div>


</body>

</html>